.explore-box1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item-box1 {
  width: 20%;
  margin-top: 25px;
  text-align: center;
}
.explore-img {
  width: 150px;
  height: 200px;
}
#content-title {
  display: none;
}

.explore-box2 {
  display: flex;
  flex-direction: column;
}
.item-box2 {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  border-bottom: 1px solid #ccdcff;
}
.explore-review-list {
  margin-left: 20px;
}
.explore-li {
  margin-top: 10px;
  text-align: justify;
}
.explore-score {
  padding: 10px 0;
  color: #ffa500;
}
.explore-user {
  text-decoration: underline;
  font-style: italic;
  color: #3374ff;
}
.explore-movie-name {
  margin-top: 8px;
  color: #6696ff;
  font-size: 15px;
}
.h2-title {
  padding: 20px 0;
  color: #4d4d4d;
}